<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.boardTest.mapper.BoardMapper">

<!--    <sql id="paging">-->
<!--        LIMIT-->
<!--        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}-->
<!--    </sql>-->


    <insert id="insertBoard" parameterType="BoardDTO" keyProperty="idx">
        INSERT INTO board B (
                            B.idx
                          , B.title
                          , B.content
                          , B.writer
                          , B.view_cnt
                          , B.notice_yn
                          , B.secret_yn
                          , B.delete_yn
                          , B.insert_time
                          , B.update_time
                          , B.delete_time
        ) VALUES (
        #{idx}
        , #{title}
        , #{content}
        , #{writer}
        , 0
        , IFNULL(#{noticeYn, jdbcType=VARCHAR}, 'N')
        , IFNULL(#{secretYn, jdbcType=VARCHAR}, 'N')
        , 'N'
        , NOW()
        , NULL
        , NULL
        )
    </insert>

    <select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
        SELECT
            B.idx
             , B.title
             , B.content
             , B.writer
             , B.view_cnt
             , B.notice_yn
             , B.secret_yn
             , B.delete_yn
             , B.insert_time
             , B.update_time
             , B.delete_time
        FROM
        board B
        WHERE
            B.delete_yn = 'N'
        AND
            B.idx = #{idx}
    </select>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE board
        SET
            B.update_time = NOW()
          , B.title = #{title}
          , B.content = #{content}
          , B.writer = #{writer}
          , B.notice_yn = IFNULL(#{noticeYn, jdbcType=VARCHAR}, 'N')
          , B.secret_yn = IFNULL(#{secretYn, jdbcType=VARCHAR}, 'N')
        WHERE
            idx = #{idx}
    </update>

    <update id="deleteBoard" parameterType="long">
        UPDATE board B
        SET
            B.delete_yn = 'Y'
          , B.delete_time = NOW()
        WHERE
            B.idx = #{idx}
    </update>

    <select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
        <if test="paginationInfo.firstRecordIndex != null and paginationInfo.lastRecordIndex != null">
            SELECT *
            FROM (
            SELECT rownum rnum, m.*
            FROM (
        </if>
        SELECT
        B.idx
        , B.title
        , B.content
        , B.writer
        , B.view_cnt
        , B.notice_yn
        , B.secret_yn
        , B.delete_yn
        , B.insert_time
        , B.update_time
        , B.delete_time
        FROM board B
        WHERE delete_yn = 'N'
        <if test="searchKeyword != null and searchKeyword != ''">
                    AND
                    (
            title LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR content LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR writer LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
        </if>
        ORDER BY B.notice_yn ASC, B.idx DESC, B.insert_time DESC
        <if test="paginationInfo.firstRecordIndex != null and paginationInfo.lastRecordIndex != null">
            ) m
            WHERE rownum <![CDATA[<=]]> #{paginationInfo.lastRecordIndex}
            )
            WHERE rnum <![CDATA[>]]> #{paginationInfo.firstRecordIndex}
        </if>
    </select>

    <select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            board B
        WHERE B.delete_yn = 'N'
        <if test="searchKeyword != null and searchKeyword != ''">
                    AND
                    (
                    B.title LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR B.content LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR B.writer LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
        </if>
    </select>

    <update id="updateViewCount" parameterType="java.lang.Integer">
        UPDATE BOARD B SET B.view_cnt = B.view_cnt + 1 WHERE B.IDX=#{idx}
    </update>
</mapper>

