<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.boardTest.mapper.ComCostMapper">

    <sql id="comCostColumns">
        BIZ_CD
        , CUST_CD
            , CUST_NM
            , ABBR_NM
            , BIZREG_NO
            , BIZ_TYPE
            , CEO_NM
            , COMP_NM
            , ADDR1
            , ADDR2
            , ZIP_CD
            , TEL1
            , TEL2
            , FAX
            , EMAIL
            , ORDER_NUM
            , RMK
            , USE_YN
            , DEL_YN
            , REG_ID
            , REG_DT
            , MOD_ID
            , MOD_DT
            , PIC_NM
            , PIC_TEL
    </sql>

    <sql id="search_c">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'custNm'.equals(searchType)">
                            CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'abbrNm'.equals(searchType)">
                            AND ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'ceoNm'.equals(searchType)">
                            AND CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>

                    (
                    CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <insert id="insertComCost">
        INSERT INTO TB_COM_CUST (
        <include refid="comCostColumns" />
        ) VALUES (
        #{bizCd}
        , #{custCd}
        , #{custNm}
        , #{abbrNm}
        , #{bizregNo}
        , #{bizType}
        , #{ceoNm}
        , #{compNm}
        , #{addr1}
        , #{addr2}
        , #{zipCd}
        , #{tel1}
        , #{tel2}
        , #{fax}
        , #{email}
        , #{orderNum}
        , #{rmk}
        , #{useYn}
        , #{delYn}
        , #{regId}
        , NOW()
        , #{modId}
        , NULL
        , #{picNm}
        , #{picTel}
        )
    </insert>

    <select id="selectComCostDetail" parameterType="String" resultType="ComCostDTO">
        SELECT
        <include refid="comCostColumns" />
        FROM
        TB_COM_CUST
        WHERE
        CUST_CD = #{custCd}
    </select>

    <update id="updateComCost" parameterType="ComCostDTO">
        UPDATE
            TB_COM_CUST CUST
        SET
           CUST_NM = #{custNm}
          , ABBR_NM = #{abbrNm}
          , BIZREG_NO = #{bizregNo}
          , BIZ_TYPE = #{bizType}
          , CEO_NM = #{ceoNm}
          , COMP_NM = #{compNm}
          , ADDR1 = #{addr1}
          , ADDR2 = #{addr2}
          , ZIP_CD = #{zipCd}
          , TEL1 = #{tel1}
          , TEL2 = #{tel2}
          , FAX = #{fax}
          , EMAIL = #{email}
          , ORDER_NUM = 0
          , RMK = #{rmk}
          , USE_YN = IFNULL(#{useYn, jdbcType=VARCHAR}, 'Y')
          , DEL_YN = IFNULL(#{delYn, jdbcType=VARCHAR}, 'N')
          , MOD_ID = #{modId}
          , MOD_DT = NOW()
          , PIC_NM = #{picNm}
          , PIC_TEL = #{picTel}
        WHERE
            CUST.CUST_CD = #{custCd}
    </update>

    <update id="deleteComCost" parameterType="String">
        UPDATE
            TB_COM_CUST CUST
        SET
            DEL_YN = 'Y'
        WHERE
            CUST_CD = #{custCd}
    </update>

    <select id="selectComCostList" parameterType="ComCostDTO" resultType="ComCostDTO">
        SELECT
        <include refid="comCostColumns" />
        FROM
        TB_COM_CUST
        <where>
        <include refid="search_c" />
        </where>
        ORDER BY
        CUST_NM DESC
        LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectComCostTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
        TB_COM_CUST
        <if test="searchKeyword != null">
            WHERE
           (
            CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
    </select>


</mapper>

