<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.boardTest.mapper.ComCostMapper">

    <sql id="comCostColumns">
        CUST.BIZ_CD
        , CUST.CUST_CD
            , CUST.CUST_NM
            , CUST.ABBR_NM
            , CUST.BIZREG_NO
            , CUST.BIZ_TYPE
            , CUST.CEO_NM
            , CUST.COMP_NM
            , CUST.ADDR1
            , CUST.ADDR2
            , CUST.ZIP_CD
            , CUST.TEL1
            , CUST.TEL2
            , CUST.FAX
            , CUST.EMAIL
            , CUST.ORDER_NUM
            , CUST.RMK
            , CUST.USE_YN
            , CUST.DEL_YN
            , CUST.REG_ID
            , CUST.REG_DT
            , CUST.MOD_ID
            , CUST.MOD_DT
            , CUST.PIC_NM
            , CUST.PIC_TEL
    </sql>

    <sql id="search_c">
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'custNm'.equals(searchType)">
                            CUST.CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'abbrNm'.equals(searchType)">
                            AND CUST.ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                        <when test="'ceoNm'.equals(searchType)">
                            AND CUST.CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>

                    (
                    CUST.CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR CUST.ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR CUST.CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <insert id="insertComCost" parameterType="ComCostDTO" keyProperty="custCd">
        INSERT INTO TB_COM_CUST CUST (
        <include refid="comCostColumns" />
        ) VALUES (
        #{bizCd}
        , #{custCd}
        , #{custNm}
        , #{abbrNm}
        , #{bizregNo}
        , #{bizType}
        , #{ceoNm}
        , #{compNm}
        , #{addr1}
        , #{addr2}
        , #{zipCd}
        , #{tel1}
        , #{tel2}
        , #{fax}
        , #{email}
        , 0
        , #{rmk}
        , IFNULL(#{delYn, jdbcType=VARCHAR}, 'Y')
        , IFNULL(#{delYn, jdbcType=VARCHAR}, 'N')
        , 'system'
        , DATE_FORMET(#{regDt}, '%Y%m%d')
        , #{modId}
        , NULL
        , #{picNm}
        , #{picTel}
        )
    </insert>

    <select id="selectComCostDetail" parameterType="String" resultType="ComCostDTO">
        SELECT
        <include refid="comCostColumns" />
        FROM
        TB_COM_CUST CUST
        AND
        CUST.CUST_CD = #{custCd}
    </select>

    <update id="updateComCost" parameterType="ComCostDTO">
        UPDATE TB_COM_CUST CUST
        SET
          , CUST.CUST_NM = #{custNm}
          , CUST.ABBR_NM = #{abbrNm}
          , CUST.BIZREG_NO = #{bizregNo}
          , CUST.BIZ_TYPE = #{bizType}
          , CUST.CEO_NM = #{ceoNm}
          , CUST.COMP_NM = #{compNm}
          , CUST.ADDR1 = #{addr1}
          , CUST.ADDR2 = #{addr2}
          , CUST.ZIP_CD = #{zipCd}
          , CUST.TEL1 = #{tel1}
          , CUST.TEL2 = #{tel2}
          , CUST.FAX = #{fax}
          , CUST.EMAIL = #{email}
          , CUST.ORDER_NUM = 0
          , CUST.RMK = #{rmk}
          , CUST.USE_YN = IFNULL(#{useYn, jdbcType=VARCHAR}, 'Y')
          , CUST.DEL_YN = IFNULL(#{delYn, jdbcType=VARCHAR}, 'N')
          , CUST.MOD_ID = #{modId}
          , CUST.MOD_DT = NOW()
          , CUST.PIC_NM = #{picNm}
          , CUST.PIC_TEL = #{picTel}
        WHERE
            CUST.CUST_CD = #{custCd}
    </update>

    <update id="deleteComCost" parameterType="String">
        UPDATE TB_COM_CUST CUST
        WHERE
            CUST.CUST_CD = #{custCd}
    </update>

    <select id="selectComCostList" parameterType="ComCostDTO" resultType="ComCostDTO">
        SELECT
        <include refid="comCostColumns" />
        FROM
        TB_COM_CUST CUST
        <where>
        <include refid="search_c" />
        </where>
        ORDER BY
        CUST.CUST_NM DESC
        LIMIT #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectComCostTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
        TB_COM_CUST CUST
        <if test="searchKeyword != null">
            WHERE
           (
            CUST.CUST_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR CUST.ABBR_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                OR CUST.CEO_NM LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
    </select>


</mapper>

