<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>notice</title>

	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/created.css"/>


	<script type="text/javascript">

		//function sendIt(){
		//=> = 화살표 함수
		const sendIt = () => {

			var f = document.myForm;

			f.action = "/comCost/register.do";
			f.submit();

		}
	</script>

</head>
<body>


<div id="bbs">


	<form action="" method="post" name="myForm">
		<div id="bbsCreated">

			<div class="bbsCreated_bottomLine">
				<dl>
					<dt>BIZ_CD</dt>
					<dd>
						<input type="text" name="bizCd" size="60"
							   maxlength="100" class="boxTF"/>
					</dd>
				</dl>
			</div>

			<div class="bbsCreated_bottomLine">
				<dl>
					<dt>CUST_CD</dt>
					<dd>
						<input type="text" name="custCd" size="35"
							   maxlength="20" class="boxTF"/>
					</dd>
				</dl>
			</div>

			<div id="bbsCreated_content">
				<dl>
					<dt>CUST_NM</dt>
					<dd>
						<input type="text" name="custNm" size="35"
							   maxlength="20" class="boxTF"/>
					</dd>
				</dl>
			</div>




			<ul>
				<li>
					<p>ABBR_NM</p>
					<input type="text" name="abbrNm" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>BIZREG_NO</p>
					<input type="text" name="bizregNo" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>BIZ_TYPE</p>
					<input type="text" name="bizType" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>CEO_NM</p>
					<input type="text" name="ceoNm" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>COMP_NM</p>
					<input type="text" name="compNm" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>ADDR1</p>
					<input type="text" name="addr1" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>ADDR2</p>
					<input type="text" name="addr2" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>ZIP_CD</p>
					<input type="text" name="zipCd" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>TEL1</p>
					<input type="text" name="tel1" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>TEL2</p>
					<input type="text" name="tel2" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>FAX</p>
					<input type="text" name="fax" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>EMAIL</p>
					<input type="text" name="email" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>ORDER_NUM</p>
					<input type="number" name="orderNum" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>RMK</p>
					<input type="text" name="rmk" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>USE_YN</p>
					<input type="text" name="useYn" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>DEL_YN</p>
					<input type="text" name="delYn" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>REG_ID</p>
					<input type="text" name="regId" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>REG_DT</p>
					<input type="text" name="regDt" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>MOD_ID</p>
					<input type="text" name="modId" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>MOD_DT</p>
					<input type="text" name="modDt" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>PIC_NM</p>
					<input type="text" name="picNm" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
				<li>
					<p>PIC_TEL</p>
					<input type="text" name="picTel" size="35"
						   maxlength="20" class="boxTF"/>
				</li>
			</ul>

		</div>

		<div id="bbsCreated_footer">
			<input type="button" value=" 등록하기 " class="btn2" onclick="sendIt();"/>
			<input type="reset" value=" 다시입력 " class="btn2"
				   onclick="document.myForm.title.focus();"/>
			<input type="button" value=" 작성취소 " class="btn2"
				   onclick="javascript:location.href='/comCost/list.do';"/>
		</div>

	</form>

</div>




</body>
</html>
